<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.86.0" targetFramework="native" />
  <package id="boost_chrono-vc143" version="1.86.0" targetFramework="native" />
  <package id="boost_date_time-vc142" version="1.86.0" targetFramework="native" />
  <package id="boost_filesystem-vc143" version="1.86.0" targetFramework="native" />
  <package id="boost_iostreams-vc143" version="1.86.0" targetFramework="native" />
  <package id="boost_system-vc142" version="1.86.0" targetFramework="native" />
  <package id="boost_thread-vc142" version="1.86.0" targetFramework="native" />
  <package id="boost_thread-vc143" version="1.86.0" targetFramework="native" />
  <package id="cgal" version="5.3.1" targetFramework="native" />
  <package id="cgal.redist" version="5.3.1" targetFramework="native" />
  <package id="Eigen" version="3.3.7" targetFramework="native" />
  <package id="Eigen3" version="3.3.9" targetFramework="native" />
  <package id="FLANN" version="1.9.1" targetFramework="native" />
  <package id="libLAS.v142.x64" version="1.0.0" targetFramework="native" />
  <package id="OpenNI2" version="2.2.0" targetFramework="native" />
  <package id="PCL" version="1.11.1" targetFramework="native" />
  <package id="Qhull" version="8.0.0" targetFramework="native" />
  <package id="VTK" version="8.2.0" targetFramework="native" />
  <package id="VTK.Release" version="8.2.1" targetFramework="native" />
</packages>